@font-face {
    font-family: 'Arimo';
    src: url("../font/Lato-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Arimo';
    src: url("../font/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    background: #5C6D70;
    font-family: 'Lato', sans-serif;
}

.navbar {
    background-color: #DCDCDC;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.logo {
    width: 25%;
}

input, select {
    font-size: 12px;
    line-height: 1;
    border-radius: 10px;
    border: 1px solid #898989;
    outline: none;
}

input:focus {
    color: #000000;
    border: 1px solid #000000
}

filter {
    display: flex;
    justify-content: flex-start;
    border: 1px solid #353A3D;
    margin: 10px;
    padding: 10px;
    background: #B0C4DE;
}

#empty {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}

#logo {
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
}

.filter-search_status, .filter-search_title, .filter-search_urgency {
    margin-right: 5px;
}

.filter-search_title {
    width: 250px;
    padding: 0 5px;
}

.filter-search_status, .filter-search_urgency {
    width: 100px;
}

.empty {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    margin: 5%;
    padding: 5px;
    min-height: 40vh;
    border: 5px solid #778899;
    border-radius: 10px;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .05);
}

#main {
    margin: 5%;
    padding: 10px;
    border: 5px solid #778899;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, .05);
    background: #011627;
    border-radius: 10px;
    display: none;
    justify-content: center;
}

#main.active {
    display: flex;
}

hr {
    width: 70%;
}

.modalInput {
    display: flex;
    flex-direction: column;
    background: #7392b7;
    padding: 1%;
    margin-right: 10px;
    border: 2px solid #F8F8FF;
    border-radius: 7px;
}

.modalInput input, .modalInput select {
    font-size: 10px;
    text-transform: uppercase;
}

.modalInput select {
    width: calc(60% - 0px);
}

.modalInput input {
    padding: 0 4px;
    width: calc(60% - 12px);
}

.modalLabel {
    margin-bottom: 2px;
}

.modalLabel span {
    display: inline-block;
    width: 39%;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.modalLabel select,
.modalLabel input {
    width: 100%
}

.createCard-btn {
    font-size: 10px;
    background: #F4A460;
    border: 1px solid #778899;
    border-radius: 10px;
}

.visitCard {
    padding: 20px;
    margin: 5px;
    font-size: 10px;
    background: #B0C4DE;
    border: 2px solid #F8F8FF;
    border-radius: 5px;
    min-height: 50px;
    transition: .5s ease-in-out;
}

.visitCard input, .visitCard select {
    font-size: 10px;
    text-transform: uppercase;
}

.visitCard input:disabled, .visitCard select:disabled {
    background: #FFFFFF;
    border: 1px solid #ACACAC;
}

.visitCard .open {
    border: 1px solid #253F51;
    background: #e9ebed;
}

.visitCard.open.moved,
.visitCard.done.moved {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .3);
}

.visitCard.done {
    border: 1px solid #321E50;
    background: #C0C0C0;
}

.visitCard select {
    width: calc(70% - 0px);
}

.visitCard input {
    padding: 0 4px;
    width: calc(70% - 12px);
}

.cardLabel {
    margin-bottom: 2px;
}

.cardLabel span {
    display: inline-block;
    width: 29%;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000041;
}

#login.active,
#createCard.active,
.cardInfo.active {
    display: block;
}

.cardBtn button {
    font-size: 11px;
    border-radius: 10px;
    border: 1px solid #778899;
    background: #F4A460;
}

.cardBtn {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#login,
#createCard,
.cardInfo,
.editBtn,
.delBtn,
.openEdit.focused {
    display: none;
}

#empty.active,
.openEdit,
.editBtn.focused,
.delBtn.focused {
    display: inline-flex;
}
